.burger-menu {
  position: fixed;
  background: #ffffff;
  max-width: 317px;
  width: 100%;
  padding: 1.188em 0 1.625em 0;
  transform: translateX(-100%);
  z-index: 15;
  transition: 0.3s;
  top: 0;
  left: 0;
  height: 100%;

  // padding: 1.188em 0.875em 1.625em;
  // &__wrapper {
  // }
  &__container {
    padding: 0 0.875em 0.75em 0.875em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    &_headline {
      cursor: pointer;
      .headline__title {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.125rem;

        color: #064f7a;
      }
      .headline__text {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 0.875rem;

        color: #676767;
      }
    }
    .menuBtn {
      position: absolute;
      z-index: 10;
      right: 10px;
    }
  }
  &__content {
    overflow-y: auto;
    height: 100%;
    &_list {
      display: flex;
      flex-direction: column;
      gap: 12px 0;
      padding: 0 0.875em;
      list-style-type: none;
      .burger-menu__list_item {
        .burger-menu__item_link {
          // display: block;
          font-family: 'Ubuntu';
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.125rem;
          text-decoration: none;
          color: #3b3b3b;
        }
      }
      .burger-menu__link_active {
        background: linear-gradient(93.29deg, #064f7a 2.5%, #006def 94.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      &:first-of-type {
        border-top: 1px solid #dedede;

        padding-top: 0.875em;
        margin-bottom: 1.25em;
      }
      &:last-of-type {
        border-bottom: 1px solid #dedede;

        padding-bottom: 1.688em;
        .burger-menu__item_link {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #3b3b3b;
        }
      }
    }
  }
}

.burger-menu_active {
  transform: translateX(0);
}

//
//
//
.footer-mobile {
  padding: 0 0.84em;
  border-bottom: 1px solid #ffffff;
  &__container {
    padding: 1.75em 0;

    &_address {
      cursor: pointer;
      margin-bottom: 1.125em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 0.313em;
      .footer-mobile__address_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1rem;

        color: #3b3b3b;
      }
    }
    &_about {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.625em;
      img {
        cursor: pointer;
      }
      .footer-mobile__container_connect {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 140px;
        width: 100%;
        background: #ececec;
        border-radius: 5px;
        padding: 0.813em 0;
        &:first-of-type {
          .footer-mobile__connect_text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 0.75rem;
            line-height: 0.875rem;
            text-align: center;

            color: #333333;
          }
        }
        &:last-of-type {
          .footer-mobile__connect_text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 0.875rem;
            text-align: center;
            color: #064f7a;
          }
        }
      }
    }
  }
  &__info {
    padding: 1.25em;
    background: #f3f3f3;
    &_text {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 0.875rem;

      color: #040404;
      &:first-of-type {
        margin-bottom: 0.917em;
      }
    }
  }
}
