.card {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  &__categories {
    padding: 1.6em 2.8em 1.9em 2.4em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(3px);
    position: absolute;
    bottom: 35px;
    left: 35px;

    &_title {
      font-weight: 300;
      font-size: 1.75rem;
      line-height: 2.125rem;
      color: #3a3a3a;
      margin-bottom: 1em;
    }

    a {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #616161;
      text-decoration: none;

      span {
        margin-left: 0.875em;
      }
    }
  }
}
