.catalog__card {
  cursor: pointer;

  &_image {
    position: relative;
    margin-bottom: 1.563em;
    max-width: 252px;
    &::after {
      transition: 0.2s;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &:hover {
    .catalog__card_image::after {
      opacity: 1;
    }
  }
  &_price {
    margin-bottom: 0.125em;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: #262626;
    span {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1rem;
      color: #787878;
    }
  }
  &_name {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;

    color: #4d4d4d;
    text-decoration: none;
  }
}
