.catalog {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 3em;

    &_grid {
      max-width: 1071px;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.875em 1.25em;
    }
  }
}
