.category {
  max-width: 256px;
  width: 100%;
  &__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #4d4d4d;
    margin-bottom: 0.75em;
  }

  &__list {
    list-style-type: none;
    &_none {
      display: none;
    }
    &_active {
      display: block;
      background: #fff;
    }
    &_item,
    &_subitem {
      position: relative;
      text-align: left;
      color: #4d4d4d;

      .category__list_link,
      .subcategory__list_link {
        // width: 82%;
        display: block;
        text-decoration: none;

        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        // line-height: 1.125rem;
        line-height: 2.625rem;
        padding-left: 1.063em;

        color: inherit;
      }
      .subcategory__list_link {
        padding-left: 2.5em;
        transition: 0.1s;
        display: block;
      }
      .subcategory__link_active {
        font-weight: 700;
      }
    }
    &_subitem {
      // color: #888888;
      &::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: 25%;
        right: 7%;
        border-top: 2px solid #4d4d4d;
        border-right: 2px solid #4d4d4d;
        transform: translateY(0) rotate(135deg);
        // margin-right: 60px;
      }
    }
    .subitem__active {
      &::after {
        top: 40%;
        // border-color: #fff;
        transform: rotate(315deg) !important;
      }
    }
  }
}

.category__active {
  color: #ffffff;
  background: #057fc7;
  &::after {
    border-color: #fff;
  }
}
