.contacts {
  &__title {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 2.5em;
  }
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &_main {
      a {
        text-decoration: none;
      }
      > div {
        margin-bottom: 2.222em;
      }
      .contacts__email {
        .contacts__main_text {
          display: block;
          font-family: 'Ubuntu';
          font-style: normal;
          font-weight: 300;
          font-size: 1.125rem;
          line-height: 1.313rem;

          color: #000000;
          &:first-of-type {
            margin-bottom: 1em;
          }
        }
      }
      .contacts__requisites span {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.813rem;

        color: #000000;
      }
      .contacts__main_title {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.75rem;

        color: #4d4d4d;
        margin-bottom: 1.25em;
      }
      .contacts__main_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.313rem;
        color: #000000;
        &.tel {
          margin-bottom: 1.111em;
        }
      }
      span {
        display: block;
      }
      .contacts__main_list {
        max-width: 416px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        .contacts__item {
          width: 50%;
          &_social {
            display: flex;
            align-items: center;
            cursor: pointer;
            img {
              margin-right: 1em;
            }
          }
          &:nth-of-type(even) {
            margin-bottom: 2.5em;
          }
        }
      }
    }
  }
}
