.contacts {
  // font-family: 'Ubuntu' !important;
  .contacts__main_text {
    transition: 0.1s;
  }
  .contacts__address_link {
    &:hover {
      color: #057fc7;
    }
  }
  &__mt {
    margin-bottom: 2.5em;
    a {
      display: block;
      width: fit-content;
      text-decoration: none;
      transition: 0.2s;
      &:hover,
      &:hover span {
        color: #057fc7;
      }

      span {
        display: block;
      }
    }
  }

  &__main {
    &_title {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.75rem;
      color: #4d4d4d;
      margin-bottom: 1.25em;
    }

    &_text {
      list-style-type: none;
      text-decoration: none;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.313rem;
      color: #000000;

      &.tel {
        margin-bottom: 1em;
      }
    }

    &_list {
      max-width: 416px;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;

      .contacts__item {
        width: 50%;
        &_social {
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            margin-right: 1em;
          }
          &:hover span {
            color: #057fc7;
          }
        }
        &:nth-of-type(even) {
          margin-bottom: 2.5em;
        }
      }
    }
  }

  &__container {
    display: flex;
    gap: 6.25em;

    &_item {
      width: 100%;

      iframe {
        width: 100%;
        height: 100%;
        max-height: 500px;
      }
      .contacts__requisites {
        .contacts__main_text {
          font-family: 'Ubuntu';
          line-height: 1.713rem;
        }
      }
    }

    span .contacts__main_text {
      display: block;
    }
  }
}

.main__title {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #4d4d4d;
  margin-bottom: 1.389em;
}
