.contacts {
  &__container {
    &_main {
      > div {
        margin-bottom: 40px;
      }
      .contacts__main_title {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.75rem;

        color: #4d4d4d;
        margin-bottom: 1.25em;
      }
      .contacts__main_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.313rem;
        color: #000000;
        &.tel {
          margin-bottom: 1.111em;
        }
      }
      span .contacts__main_text {
        display: block;
      }
      .contacts__main_list {
        max-width: 416px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        .contacts__item {
          width: 50%;
          &_social {
            display: flex;
            align-items: center;
            img {
              margin-right: 1em;
            }
          }
          &:nth-of-type(even) {
            margin-bottom: 2.5em;
          }
        }
      }
    }
  }
}
