footer {
  margin-top: 4.5em;
  .footer__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 0.708em;
    color: #000000;
  }

  .footer__container {
    display: flex;
    align-items: flex-start;
    gap: 0 12em;
    margin-bottom: 2.938em;
    justify-content: space-between;
    padding-top: 5em;
    border-top: 1px solid #d8d8d8;
    &_list {
      flex-direction: column;
      width: 100%;
      list-style-type: none;
      display: flex;
      gap: 1.063em 0;
      .footer__menu_item {
        .footer__menu_link {
          font-family: 'Ubuntu';
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 150%;
          /* identical to box height, or 24px */
          text-decoration: none;
          color: #616161;
          &:hover {
            cursor: pointer;
            background: linear-gradient(93.29deg, #064f7a 2.5%, #006def 94.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: #fff;
          }
        }
      }
    }
    &_contacts {
      max-width: 450px;
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 3.875em 0;
      .footer__contacts_list {
        width: 50%;
        .footer__contacts_container {
          display: flex;
          align-items: center;
          cursor: pointer;
          .footer__contacts_link {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.125rem;

            color: #141414;
          }
          img {
            margin-right: 1.438em;
            max-width: 38px;
            width: 100%;
          }
        }
      }
    }
    &_connect {
      max-width: 309px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1em 0;
      > .footer__item_text {
        transition: 0.2s;
        &:hover {
          color: #057fc7;
        }
      }
      .footer__item_text {
        transition: 0.2s;
        text-decoration: none;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 150%;

        color: #616161;
      }
      .footer__connect_item {
        display: flex;
        gap: 0 0.625em;
        cursor: pointer;
        svg > path {
          transition: 0.2s;
        }
        &:last-of-type {
          svg path {
            fill: #a9a9a9;
          }
        }
        &:hover {
          .footer__item_text {
            color: #057fc7;
          }
          svg > path {
            fill: #057fc7;
          }
        }
        &:nth-of-type(3) {
          &:hover {
            svg path {
              fill: none;
              stroke: #057fc7;
            }
          }
        }
        img {
          margin-right: 1.313em;
        }
      }
    }
  }
  .footer__info {
    &_text {
      display: block;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 0.875rem;
      margin-bottom: 0.833em;
      color: #616161;
    }
  }
}

@media screen and (max-width: 1520px) {
  footer {
    .footer__container {
      gap: 0 2.5em;
    }
  }
}
