.gallery {
  max-width: 1920px;
  margin: 0 auto;

  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'first second second . fourth fourth fifth fifth'
    'first second second third fourth fourth fifth fifth'
    'six six seven third eight nine nine ten '
    '. . seven . . . . . ';

  &__image {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  .first {
    grid-area: first;
    padding-left: 55px;
    align-self: flex-end;
  }

  .second {
    grid-area: second;
    align-self: flex-end;
  }

  .third {
    grid-area: third;
  }

  .fourth {
    grid-area: fourth;
    align-self: flex-end;
  }

  .fifth {
    grid-area: fifth;
    align-self: flex-end;
  }

  .six {
    align-self: flex-start;
    grid-area: six;
  }

  .seven {
    align-self: flex-start;
    grid-area: seven;
  }

  .eight {
    grid-area: eight;
  }

  .nine {
    grid-area: nine;
  }

  .ten {
    grid-area: ten;
  }
}
