.main {
  &__cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__services {
    display: flex;
    gap: 1.25em;
  }

  &__gallery {
    &_title {
      text-align: center;
    }
  }
}
