.slider__dot-group {
  display: flex;
  justify-content: center;
  margin-top: 1.563em;
  gap: 0 0.625em;
  &__dot {
    border: none;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
    border-radius: 50%;
    transition: 0.2s;
    &:hover {
      background: #bbbbbb;
    }
  }
}
.carousel__dot--selected {
  background: #064f7a !important;
}
.image {
  object-fit: contain;
}
.slide__item {
  .carousel__inner-slide {
    width: calc(100% - 20px);
    left: 10px;
  }
}
